<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Stack Overflow" verbose="1" >
    <test name="Get answers" >
        <parameter name="site" value="stackoverflow"/>
        <parameter name="page" value="1"/>
        <parameter name="pagesize" value="10"/>
        <parameter name="order" value="desc"/>
        <parameter name="sort" value="activity"/>
        <parameter name="filter" value="default"/>
        <classes>
            <class name="StackOverflowTest"/>
        </classes>
    </test>
</suite>
